@page "/sala/{Id:int}"
@inject ISalaServices services
<h3>@sala.Nome</h3>
<ol class="list-group list-group-numbered">
    @foreach (var usuario in sala.Usuarios)
    {
        <ListaUsuarioSalaComponent UsuarioDto="@usuario"></ListaUsuarioSalaComponent>
    }
</ol>
<button @onclick=startGame>StartGame</button>
@code {
    [Parameter]
    public int Id { get; set; }
    public SalaDto sala { get; set; }


    protected override async Task OnInitializedAsync()
    {
        sala = await services.getSala(Id);
    }
    public async Task startGame()
    {
        
    }
}
