@page "/sala"
@inject ISalaServices SalaServices

<h4>Salas</h4>
<div class="containerSalas">
    <ol class="list-group list-group-numbered">
        @foreach (var sala in salas)
        {
            <ListaSalaComponent salaDto="@sala"></ListaSalaComponent>
        }
    </ol>

    <button>Criar Sala</button>
</div>
@code {
    public IEnumerable<SalaDto> salas { get; set; }

    protected override async Task OnInitializedAsync(){

        salas = await SalaServices.getSalaAll();
    }
}
