.navMenu {
    min-width: 40%;
    height: 35px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: #e60ae2f8;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 16px;
}
a{
    color:white;
    font-style:normal;
   text-decoration:none;

}