@page "/"

<PageTitle>Home</PageTitle>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@@</span>
    <input type="text" class="form-control" placeholder="Nome da Sala" aria-label="Nome da Sala" aria-describedby="basic-addon1">
</div>

<ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>
<button type="button" class="btn btn-primary">Entrar na Sala</button>
<button type="button" class="btn btn-success">Criar Sala</button>